@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background: #f8fbf5;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}